.sobremim{
    max-width: 1200px;
    padding: 40px 20px ;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 4fr 8fr;
    gap: 100px;
    align-items: center;
}
.sobremim h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom:30px;
    position: relative;
    
}
.sobremim h1::before {
    content:"";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}
.classificacao{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color:var(--color-cinza-escuro);

}
.classificacao h5{
    font-weight: 500;
    
}
.ponto-azul{
    color: var(--color-azul-claro);

}
@media (max-width: 1000px) {
    .sobremim h1{
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .sobremim {
        grid-template-columns: 1fr 1fr;
        gap:40px;
    }
    .sobremim h1{
        font-size: 2rem;
    }
    .sobremim h1::before {
        width:30px;
        height: 10px;
        left:10px;
    }
}
@media (max-width: 400px) {
    .sobremim{
        grid-template-columns: 1fr;
    }
    .sobremim img {
        display:none;
    }
    
}
